*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #F9F9F9;
}
h1{
    font-family: Poppins, sans-serif;
}
h2{
    font-family: Poppins,sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 48px;
    text-align: left;
    color: #262626;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 84px;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 62px;
}
.nav-link,
.nav-link-bac {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px; /* Set the line height */
    text-decoration: none;
    color: #262626;
    display: inline-flex; /* Change to inline-flex */
    align-items: center; /* Align items vertically */
}
.nav-link-bac {
    background-color: #4CE0D7;
    border-radius: 50px;
    padding: 10px;
}
.navigation {
    display: flex;
    gap: 50px;
}
.first-section{
    background-image: url(assets/images/1st-sec.svg);
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 84px;
    height: 559px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 73px;
}
.first-sec-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    gap: 40px;
}
.brand{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.23em;
    text-align: left;
    color: #FFFFFF;
}
.main-title{
    font-family: Poppins, sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 69px;
    text-align: left;
    color: #FFFFFF;
}
.main-title span{
    font-weight: 400;
    color: #4CE0D7 100%, #8BA9F4 100%;
}
.desctiption{
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}
.topics-section {
    max-width: 1272px;
    margin: 0 auto;
}
.topics {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 87.5px;
}
.topic {
    background-color: #FFFFFF;
    width: 204px;
    height: 291px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topic-title {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #262626;
    margin-top: 20px;
    margin-bottom: 29px;
}
.button {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    color: #262626;
    padding: 10px 40px 9.12px 40.1px;
    border-radius: 40px;
    background-color: #4CE0D7;
}
/* მე-2 სექცია */
.second-section{
    max-width: 1204px;
    height: 698px;
    margin: 0 auto;
    margin-bottom: 97px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.image-container{
    width: 1204px;
    height: 360.3px;
    background-image: url(assets/images/2nd-sec.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.fashion {
    width: 233.95px;
    height: 36.49px;
    border-radius: 40px;
    background-color: #262626;
    margin: 23px 0 0 47px;
}
.fashion a{
    display: block;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}
.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 64px;
}
.post-info h4 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}
.post-info h4:last-child {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.24em;
}
.second-section h2,
.trending-card h2,
.horizontal-card h2{
    padding: 0 64px;
    margin-bottom: 23px;    
}
.article p {
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.article {
    padding: 0 64px;
    margin-bottom: 40px;
}
.post-info a {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
    color: #4CE0D7;
    text-decoration: none;
}
.more{
    display: flex;
    align-items: center;
    padding: 0 64px 38px;
}
/* მე-3 სექცია */
.trending-section {
    max-width: 1204px;
    height: 670px;
    margin: 0 auto;
    margin-bottom: 150px;
    border-radius: 20px;
}
.trendings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.trending-card {
    background-color: #FFFFFF;
    max-width: 579px;
    height: 670px;
    margin: 0 auto;
    border-radius: 20px;
}
.img-cont-one{
    width: 579.02px;
    height: 278.09px;
    background-image: url(assets/images/3rd-sec-n1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.img-cont-two{
    width: 579.02px;
    height: 278.09px;
    background-image: url(assets/images/3rd-sec-n2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.fourth-section {
    max-width: 1204px;
    margin: 0 auto;
    margin-bottom: 150px;
    border-radius: 20px;
}
.horizontal-cards {
    display: flex;
    flex-direction: column;
    gap: 57.85px;
}
.horizontal-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    max-width: 1204px;
    height: 368px;
    margin: 0 auto;
    border-radius: 20px;
}
.add{
    display: flex;
    flex-direction: column;
}
.hor-img-one{
    width: 547.51px;
    height: 367.41px;
    background-image: url(assets/images/4th-sec-n1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.hor-img-two{
    width: 547.51px;
    height: 367.41px;
    background-image: url(assets/images/4th-sec-n2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.hor-img-three{
    width: 547.51px;
    height: 367.41px;
    background-image: url(assets/images/4th-sec-n3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 40px;
}
.footer-aboveline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 87px;
    padding-bottom: 95px;
}
.flinks {
    display: flex;
    align-items: center;
}
.flinks p {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #262626;
    margin-right: 20px;
}
.socials img {
    width: 31px;
    height: 31px;
    margin-right: 10px;
}
.line{
    max-width: 1267px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #BCBCBC;
    padding-top: 34px;
}
.copyright p {
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    text-align: left;
    margin-bottom: 37px;
}